body{
    font-family: sans-serif;
    color: grey;
    background-image: url("Pictures/BP8008217.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    line-height: 20px;    
    backdrop-filter: blur(2px), opacity(40px);
    background-color: rgb(208, 133, 133);
    background-position-x:top;
    background-attachment: fixed;
    background-position-y:top;
}

.Header{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    scroll-padding-right: 20px;
    filter: opacity(80%);
    border-radius: 30px;
    font-size: 1.2rem;
    color:black;
    
}
.container{
    width:92%;
    height:auto;
    display: inline-block;
    padding: 20px;
}

#subject:hover{
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.subject{
    padding: 10px 2px 10px 10px;
    border-left: 9px solid rgba( 137,130,247,.2);
    background-color: black;
    border-radius: 20px;
    filter: opacity(80%);
    background: linear-gradient(90deg, black,cream);
}

.subject:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.Maths,.Physics{
    text-decoration: none;
    color: gray
}
#Redtext{
    color: red;
}